# Ignore virtual environments, large files, etc.
venv/
__pycache__/
*.pkl
*.json

.env

# Node modules
client/node_modules/
server/node_modules/
client/.env
# Uploads folder (optional)
server/uploads/
